<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <!--<variable name="myvar" value="myvalue"/>-->
    <!-- Variables -->
    <variable name="dateFormat" value="${date:format=yyyyMMdd}"/>
    <variable name="longDate" value="${date:format=yyyy/MM/dd HH\:mm\:ss.fff}"/>
    <variable name="apiDir" value="${basedir}/log/${aspnet-mvc-controller}/${aspnet-mvc-action}"/>
    <variable name="serviceDir" value="${basedir}/log/Domain"/>
    <variable name="layout" value="${longdate}&#9;${uppercase:${level}}&#9;${message}&#9;"/>
    <variable name="layoutFatal" value="${longdate}&#9;${uppercase:${level}}&#9;${message}&#9;${newline}&#9;${exception:format=tostring}"/>

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

        <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
        <target name="api" xsi:type="File"
                encoding="utf-8"
                fileName="${apiDir}/${dateFormat}.log"
                archiveFileName="${dir}/${dateFormat}-{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Rolling"
                concurrentWrites="true"
                maxArchiveFiles="1000"
                keepFileOpen="false"
                layout="${layout}" />

        <target name="apiError" xsi:type="File"
                encoding="utf-8"
                fileName="${apiDir}/${dateFormat}.log"
                archiveFileName="${dir}/${dateFormat}-{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Rolling"
                concurrentWrites="true"
                maxArchiveFiles="1000"
                keepFileOpen="false"
                layout="${layoutFatal}" />

        <target name="service" xsi:type="File"
                encoding="utf-8"
                fileName="${serviceDir}/${dateFormat}.log"
                archiveFileName="${dir}/${dateFormat}-{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Rolling"
                concurrentWrites="true"
                maxArchiveFiles="1000"
                keepFileOpen="false"
                layout="${layout}" />

        <target name="serviceError" xsi:type="File"
                encoding="utf-8"
                fileName="${serviceDir}/${dateFormat}.log"
                archiveFileName="${dir}/${dateFormat}-{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Rolling"
                concurrentWrites="true"
                maxArchiveFiles="1000"
                keepFileOpen="false"
                layout="${layoutFatal}" />
        <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
        <!-- add your logging rules here 
    Trace : Check data like account or password
    Debug : Production debug
     Info : Routing
     Warn : Expected exception or performance issue 
    Error : Unexpected exception
    Fatal : Critical issue 
    -->
        <logger name="domain" minlevel="Error" writeTo="serviceError"  final="true"/>
        <logger name="domain" minlevel="Trace" writeTo="service"  final="true"/>

        <logger name="*" minlevel="Error" writeTo="apiError" />
        <logger name="*" minlevel="Trace" writeTo="api" />

        <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    </rules>
</nlog>